/*======= Google fonts =======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*======= Main Css =======*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
height: 1000vh;
    width: 100%;
    
}

/*======= Header navigation bar =======*/
header{
    z-index: 999;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
}

header .nav-bar{
    position: relative;
    backdrop-filter: blur(20px);
    height: 4em;
   
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    transition: 0.5s ease;
}

.nav-bar .logo{
    color: black;
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 10px;
}
.navbar a i {
 font-size: 30px;
 color: black;
}
.navigation{
    width: 100%;
    height: 50px;
    background-color:#eef1f4;
    display: flex;
    justify-content: center;
    align-items: center;

}
.navigation .nav-items a{
    color: black;
    font-size: .9rem ;
    text-decoration: none;
    margin: 10px;
}



.navigation .nav-items a i , b{
    display: none;
}


.backg {
width: 100%;
/* height: 500px;
background: url(../img/emad124.png) ;
background-position: center;
background-size: cover;
background-repeat: no-repeat; */

}

.backg .card0 {
    background-color: rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    height: auto;
    position: absolute;
    top: 600px;
    left: 25%;
}
.backg  h1{
    padding: 10px;
    color: white;
}
.backg   h1 span{
    color: black;
}
/* .backg .png1{
    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-left: 500px;
} */
/*======= Scroll bar =======*/
::-webkit-scrollbar{
    background: #fff;
    width: 11px;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb{
    background: blue;
    width: 100%;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
    background: #454f6d;
}

/*======= Scroll indicator bar =======*/
.scroll-indicator-container{
    width: 100%;
    height: 5px;
}

.scroll-indicator-bar{
    background: #199fff;
    width: 0%;
    height: 100%;
    box-shadow: 0 5px 25px #199fff,
                0 5px 50px #199fff;
}

.nav-close-btn, .nav-menu-btn{
    display: none;
}

/*======= Media queries (max-width: 1100px) =======*/
@media screen and (max-width: 1100px){
    header .nav-bar{
        padding: 0 50px;
    }

    section{
        padding: 30px 50px;
        font-size: 0.9em;
    }
}

/*======= Media queries (max-width: 850px) =======*/
@media screen and (max-width: 850px) {
    header .nav-bar {
        padding: 0 20px;
    }

    section {
        padding: 30px 20px;
        font-size: 0.8em;
    }

    /*======= Navigation menu =======*/
    .nav-menu-btn{
        display: block;
        color: black;
        font-size: 1.5em;
        cursor: pointer;
    }

    .navigation{
        z-index: 99999;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
    }

    .navigation.active{
        visibility: visible;
        opacity: 1;
       
    }

    .navigation .nav-items{
        position: relative;
        background: #fff;
        width: 400px;
        max-width: 400px;
        height: auto;
        display: grid;
        place-content: center;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.8);
        transform: translateY(-200px);
        transition: 0.3s ease;
    }

    .navigation.active .nav-items{
        transform: translateY(0);
    }

    .navigation .nav-items a{
        color: #222;
        font-size: 1em;
        margin: 15px 50px;
    }
    .navigation .nav-items a b{
        display: inline-block;
    }
    .navigation .nav-items a i {
        display: inline-block;
        font-size: 1.2em;
        margin-right: 5px;
    }

    .nav-close-btn{
        display: block;
        color: #222;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3em;
        margin: 10px;
        cursor: pointer;
    }
    .backg .card0 {
        position: absolute;
        top: 450px;
        left: 0;
        margin: 10px;
        padding: 5px;
    }
}
@media screen and (max-width: 380px){
    .navigation .nav-items{
       width: 100%;
       height: 600px;
       overflow: visible;
       margin: 20px;
       padding: 0;
    }
    .navigation .nav-items a{
        padding: 0px;
        margin: 10px 0px;
    }
    .backg h1{
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .backg {
        background: none;
    }
    .backg .card0 {
        position: absolute;
        top: 500px;
        left: 0;
        margin: 10px;
        padding: 10px;
    }
}